@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Use border-box for better layout control */
}




body{
  background-color: rgb(41, 39, 39);
  padding: 0;
  margin: 0
}

/* In your global CSS or add this to your tailwind.config.js */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}



.fade-in {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}







.price-range-container {
  position: relative;
}

.paint {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px; /* Height of the range indicator */
  background-color: #ff6f20; /* Background color of the selected range */
  border-radius: 4px; /* Rounded corners for aesthetics */
}

input[type="range"] {
  
  width: 100%;
  height: 3px; /* Height of the slider track */
  background: transparent; /* Set background to transparent */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb */
  appearance: none;
  width: 13px; /* Width of the slider thumb */
  height: 13px; /* Height of the slider thumb */
  background: #fff; /* Color of the thumb */
  border: 2px solid #ff6f20; /* Border of the thumb */
  border-radius: 50%; /* Make the thumb round */
  cursor: pointer; /* Pointer on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 16px; /* Width of the slider thumb */
  height: 16px; /* Height of the slider thumb */
  background: #fff; /* Color of the thumb */
  border: 2px solid #ff6f20; /* Border of the thumb */
  border-radius: 50%; /* Make the thumb round */
  cursor: pointer; /* Pointer on hover */
}







/* Add this to your styles if you're using Tailwind CSS */
.bg-gray-900 {
  background-color: #1a202c;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.bg-gray-700 {
  background-color: #4a5568;
}

.text-yellow-300 {
  color: #f6e05e;
}

.text-gray-900 {
  color: #171923;
}

.text-white {
  color: #ffffff;
}
